<!-- где и когда -->
<div class="w3-container" style="padding:64px 16px" id="place">
    <div class="w3-row-padding is-style-reverse-mobile">
        <div class="w3-col l8" style="padding:10px 0px">
            <h3>{{ data.title }}</h3>
            <p class="w3-large">
                {{ data.content }}
            </p>
        </div>
        <div class="w3-col w3-center l4">
            <img class="w3-image w3-round-large" src="{{ static(data.right_image) }}" alt="Buildings" style="width:90%">
        </div>
    </div>
</div>