<!-- жизнь на школе -->
<div class="w3-container" style="padding:64px 16px" id="life">
    <div class="w3-row-padding">
        <div class="w3-col l4 w3-center">
            <img class="w3-image w3-round-large" src="{{ static("img/schedule.gif") }}" alt="Buildings" style="width:90%">
        </div>
        <div class="w3-col l8" style="padding:10px 0px">
            <h3>{{ data.title }}</h3>
            <p class="w3-large">
                {{ data.content }}
            </p>
            <a href="https://t.me/Forest_coordinator" class="w3-button lescolor-accent w3-xlarge enroll-button" target="_blank">Задать вопрос</a>
        </div>
    </div>
</div>