<!-- отделения -->
<div class="w3-container" style="padding:64px 16px" id="departments">
    <h3 class="w3-center">{{ data.title }}</h3>
    <div class="faculties faculties-media">
        {{ blocks(data.blocks, "slides/faculties/templates/card.html") }}
    </div>
    <p class="w3-center w3-large w3-content">{{ data.footer }}</p>
    <div style="display: flex; justify-content: center"><a href="https://forms.gle/RhYWJfAzuTA3jNEZ7" class="w3-button lescolor-accent w3-xlarge enroll-button" target="_blank">ХОЧУ ВСЁ ЗНАТЬ!</a></div>
</div>