<!-- стоимость -->
<div class="w3-container" style="padding:64px 16px" id="pricing">
    <div class="w3-center">
        <h3 class="w3-center">{{ data.title }}</h3>
        <h5 class="w3-center">{{ data.subtitle }}</h5>
        <!--   <h5 class="w3-center lescolor-text-math">При подаче заявки после 31 мая скидка за раннюю заявку не предоставляется.</h5> -->
    </div>
    <div class="w3-row-padding w3-center lescolor-text-phys" style="margin-top:64px">
        <div class="w3-half">
            {{ data.included | try_add_class("w3-ul w3-border") }}
        </div>
        <div class="w3-half">
            {{ data.excluded | try_add_class("w3-ul w3-border") }}
        </div>
    </div>
</div>