<!-- Заявка -->
<div class="w3-container lescolor-main w3-center" style="padding:64px 16px" id="apply">
    <h3 class="w3-center">КАК ПОПАСТЬ В "ЛЕС"</h3>
    <p class="w3-center w3-large w3-content">В 2026 году школа набирает подростков 14-18 лет. Подать заявку могут школьники из любой страны мира, но учитывайте, что школа проходит на русском языке. Чтобы стать участником школы “Лес” и поехать с нами в Армению, необходимо пройти собеседование. На собеседовании мы оцениваем, насколько школьнику будет комфортно на школе и подойдет ли ему наша учебная программа. Чтобы подать заявку на участие в школе, заполните форму по ссылке:</p>
    <a href="https://forms.gle/RhYWJfAzuTA3jNEZ7" class="w3-button lescolor-accent w3-xlarge enroll-button" target="_blank">ХОЧУ В "ЛЕС"!</a>
    <!--   <p class="w3-center w3-xlarge w3-content">Основной этап набора участников закончен, но подать заявку всё ещё можно!</p> -->
    <p class="w3-center w3-large w3-content">После заполнения формы с вами свяжется координатор набора, который ответит на все вопросы, подробнее расскажет о школе и о том, как проходит отбор. </p><br>
    <p class="w3-center w3-xlarge w3-content">Если у вас остались вопросы, задайте их нам в <a href="https://t.me/Forest_coordinator" target="_blank">телеграме</a> или напишите нам на почту: <a href="mailto:admin@gws.forest-school.am">admin@gws.forest-school.am</a></p>
</div>