<!-- Заявка -->
<div class="w3-container lescolor-main w3-center" style="padding:64px 16px" id="apply">
    <h3 class="w3-center">{{ data.title }}</h3>
    <p class="w3-center w3-large w3-content">
        {{ data.content }}
    </p>
    <a href="https://forms.gle/RhYWJfAzuTA3jNEZ7" class="w3-button lescolor-accent w3-xlarge enroll-button" target="_blank">ХОЧУ В "ЛЕС"!</a>
    <!--   <p class="w3-center w3-xlarge w3-content">Основной этап набора участников закончен, но подать заявку всё ещё можно!</p> -->
    <p class="w3-center w3-large w3-content">{{ data.after }}</p>
    <p class="w3-center w3-xlarge w3-content">
        {{ data.last }}
    </p>
</div>