<!-- FAQ -->
<div class="w3-container w3-center" style="padding:64px 16px" id="faq">
    <div class="w3-col w3-center">
        <h2 class="w3-center">УСТРОЙСТВО ЛАГЕРЯ</h2>
        <div class="w3-center w3-content w3-border">
            <button onclick="accordeon('Q1')" class="w3-button w3-block w3-left-align lescolor-text-phys w3-xlarge">Питание</button>
            <div id="Q1" class="w3-block w3-hide w3-left-align" style="padding: 10px">
                Мы организуем вкусное четырехразовое питание на нашей полевой кухне: завтрак, обед, ужин и вечерний перекус у костра, в приготовлении которого школьники могут поучаствовать! Нам важен комфорт участников, поэтому мы организуем два варианта меню: стандартное и вегетарианское – чтобы каждый мог выбрать подходящий лично ему вариант. Также мы всегда учитываем индивидуальные непереносимости и аллергии.
            </div>
        </div>
        <div class="w3-center w3-content w3-border">
            <button onclick="accordeon('Q2')" class="w3-button w3-block w3-left-align lescolor-text-phys w3-xlarge">Проживание</button>
            <div id="Q2" class="w3-block w3-hide w3-left-align" style="padding: 10px">
                Школьники проживают в палатках на территории кемпинга. На территории лагеря находится источник чистой питьевой воды. В кемпинге также организованы туалеты, зоны для умывания и души с тёплой водой.
            </div>
        </div>
        <div class="w3-center w3-content w3-border">
            <button onclick="accordeon('Q3')" class="w3-button w3-block w3-left-align lescolor-text-phys w3-xlarge">Палатки</button>
            <div id="Q3" class="w3-block w3-hide w3-left-align" style="padding: 10px">
                Так как у многих участников школы есть своё туристическое снаряжение, мы не включаем в стоимость школы аренду палатки и спальника. В случае, если у вас нет снаряжения, необходимого для поездки на школу, мы поможем его подобрать. Спальник мы рекомендуем приобрести, однако палатку везти с собой всем участникам школы необязательно: мы поможем договориться с другим участником и подселиться в палатку к нему – вместе в палатке теплее и веселее!
            </div>
        </div>
        <div class="w3-center w3-content w3-border">
            <button onclick="accordeon('Q4')" class="w3-button w3-block w3-left-align lescolor-text-phys w3-xlarge">Психологический комфорт</button>
            <div id="Q4" class="w3-block w3-hide w3-left-align" style="padding: 10px">
                Философия “Леса” – субъектное уважительное отношение к подросткам. Все преподаватели школы стремятся выстраивать доброжелательный контакт и придерживаются принципов ненасильственного общения. В начале школы психологи проводят тренинг о личных границах и помогают ребятам выстроить взаимоотношения с другими участниками школы. К психологам также можно обратиться за помощью в случае необходимости.
                <br>
                За каждым школьником закреплен тьютор — специалист, который помогает организовать свое времяпровождение на школе максимально интересно и комфортно, он отслеживает состояние ребенка и помогает регулировать учебную нагрузку.
            </div>
        </div>
        <div class="w3-center w3-content w3-border">
            <button onclick="accordeon('Q5')" class="w3-button w3-block w3-left-align lescolor-text-phys w3-xlarge">Правовой статус</button>
            <div id="Q5" class="w3-block w3-hide w3-left-align" style="padding: 10px">
                Лагерь проводится официально: у нас оформлены все необходимые по армянскому законодательству документы. Проведение детского мероприятия согласовано с государственными органами. В случае необходимости мы в обязательном порядке вызовем экстренные службы. Лагерь проводится недалеко от Гюмри, поэтому они приедут в течение 15 минут.
            </div>
        </div>
        <div class="w3-center w3-content w3-border">
            <button onclick="accordeon('Q6')" class="w3-button w3-block w3-left-align lescolor-text-phys w3-xlarge">Помощь медиков</button>
            <div id="Q6" class="w3-block w3-hide w3-left-align" style="padding: 10px">
                На территории школы круглосуточно дежурят два врача. Они контролируют приём лекарств, оказывают первую медицинскую помощь и определяют необходимость обращения в больницу.
                Если потребуется госпитализация, персонал ближайшего медицинского центра осведомлён о работе лагеря и готов принять ребёнка. В экстренном случае они направят машину скорой помощи, которая прибудет в течение 15 минут.
            </div>
        </div>
        <div class="w3-center w3-content w3-border">
            <button onclick="accordeon('Q7')" class="w3-button w3-block w3-left-align lescolor-text-phys w3-xlarge">Прочее</button>
            <div id="Q7" class="w3-block w3-hide w3-left-align" style="padding: 10px">
                На территории лагеря есть хорошая связь. По приезде в Армению мы поможем школьникам купить местные симки, чтобы они могли оставаться на связи в течение всей поездки. Также с родителями всегда будет на связи в мессенджерах тьютор ребёнка.
            </div>
        </div>
    </div>
    <a href="https://t.me/Forest_coordinator" style="margin-top: 2em" class="w3-button lescolor-accent w3-xlarge enroll-button" target="_blank">Остались вопросы?</a>
</div>